openapi: 3.0.2
info:
  title: National Data Directory Organization Catalogue
  description: Exposes a basic service which provides information related to the organization catalogue in the National Data Directory
  version: '1.0'
  termsOfService: 'https://fellesdatakatalog.brreg.no/about'
  contact:
    name: Brønnøysundregistrene
    url: 'https://fellesdatakatalog.brreg.no'
    email: fellesdatakatalog@brreg.no
  license:
    name: License of API
    url: 'http://data.norge.no/nlod/no/2.0'
externalDocs:
  description: Dokumentasjon på Informasjonsforvaltning GitHub
  url: https://informasjonsforvaltning.github.io/felles-datakatalog/datasett-katalog/api/
tags:
  - name: organization-catalogue
    description: Organization Catalogue
servers:
  - url: 'https://fellesdatakatalog.brreg.no'
paths:
  /organizations:
    get:
      tags:
        - organization-catalogue
      summary: Query for organizations.
      description: Returns a collection of matching organizations
      operationId: getOrganizations
      parameters:
        - name: name
          in: query
          description: A query string to match a organization name
          required: false
          schema:
            type: string
        - name: organizationId
          in: query
          description: If you want to filter by organizationId
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            application/ld+json:
              schema:
                type: object
            application/rdf+json:
              schema:
                type: object
            application/rdf+xml:
              schema:
                type: object
            text/turtle:
              schema:
                type: object
  /organizations/{id}:
    get:
      tags:
        - organization-catalogue
      description: Get a specific organization by id
      operationId: getOrganizationById
      parameters:
        - name: id
          in: path
          description: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            application/ld+json:
              schema:
                type: object
            application/rdf+json:
              schema:
                type: object
            application/rdf+xml:
              schema:
                type: object
            text/turtle:
              schema:
                type: object
    put:
      security:
        - bearerAuth: []
      tags:
        - organization-catalogue
      description: Update a specific organization by id
      operationId: updateOrganization
      parameters:
        - name: id
          in: path
          description: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'

  /organizations/{id}/domains:
    get:
      tags:
        - organization-catalogue
      description: Get domains held by an organization
      operationId: getOrganizationDomains
      parameters:
        - name: id
          in: path
          description: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            application/ld+json:
              schema:
                type: object
            application/rdf+json:
              schema:
                type: object
            application/rdf+xml:
              schema:
                type: object
            text/turtle:
              schema:
                type: object
  /domains:
    get:
      tags:
        - domains
      description: Get all domains
      operationId: getAllDomains
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            application/ld+json:
              schema:
                type: object
            application/rdf+json:
              schema:
                type: object
            application/rdf+xml:
              schema:
                type: object
            text/turtle:
              schema:
                type: object
    post:
      security:
        - bearerAuth: []
      tags:
        - domains
      description: Update organizations as holders of a domain
      operationId: addDomain
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Domain'
      responses:
        '200':
          description: OK
  /domains/{name}:
    get:
      tags:
        - domains
      description: Get a domain
      operationId: getDomain
      parameters:
        - name: name
          in: path
          description: Domain name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            application/ld+json:
              schema:
                type: object
            application/rdf+json:
              schema:
                type: object
            application/rdf+xml:
              schema:
                type: object
            text/turtle:
              schema:
                type: object
  /domains/{name}/organizations:
    get:
      tags:
        - domains
      description: Get holders a domain
      operationId: getDomainOrganizations
      parameters:
        - name: name
          in: path
          description: Domain name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
            application/xml:
              schema:
                type: object
            application/ld+json:
              schema:
                type: object
            application/rdf+json:
              schema:
                type: object
            application/rdf+xml:
              schema:
                type: object
            text/turtle:
              schema:
                type: object
components:
  schemas:
    Organization:
      type: object
      description: An organization in the catalogue
      properties:
        organizationId:
          type: string
          description: Organization id
        norwegianRegistry:
          type: string
          description: Link to the organization in The Brønnøysund Register Centre
        internationalRegistry:
          type: string
          description: Link to the organization in an international registry
        name:
          type: string
          description: The name of the organization as given in the The Brønnøysund Register Centre
        orgType:
          type: string
        orgPath:
          type: string
        subOrganizationOf:
          type: string
        issued:
          type: string
          format: date
        municipalityNumber:
          type: string
        industryCode:
          type: string
        sectorCode:
          type: string
        prefLabel:
          $ref: "#/components/schemas/PrefLabel"
        domains:
          type: array
          description: Domains held by the organization
          items:
            type: string
    PrefLabel:
      type: object
      description:
        Preferred label [skosxl:prefLabel]
      properties:
        nb:
          type: string
          description:
            Preferred label [skosxl:prefLabel] in Norwegian Bokmål
        nn:
          type: string
          description:
            Preferred label [skosxl:prefLabel] in Norwegian Nynorsk
        en:
          type: string
          description:
            Preferred label [skosxl:prefLabel] in English
    Domain:
      type: object
      description:
        Domain
      properties:
        name:
          type: string
        organizations:
          type: array
          items:
            type: string
  securitySchemes:
    bearerAuth:            # arbitrary name for the security scheme
      type: http
      scheme: bearer
      bearerFormat: JWT    # optional, arbitrary value for documentation purposes
security:
  - bearerAuth: []
