apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    fdk.service: organization-catalog
  name: organization-catalog
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: organization-catalog
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        fdk.service: organization-catalog
    spec:
      containers:
        - name: organization-catalog
          env:
            - name: MONGODB_USER
              valueFrom:
                secretKeyRef:
                  name: organization-catalog
                  key: MONGODB_USER
            - name: MONGODB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: organization-catalog
                  key: MONGODB_PASSWORD
            - name: MONGODB_HOST
              valueFrom:
                secretKeyRef:
                  name: mongodb
                  key: MONGODB_HOST
            - name: MONGODB_REPLICASET
              valueFrom:
                secretKeyRef:
                  name: mongodb
                  key: MONGODB_REPLICASET
            - name: MONGODB_AUTH
              valueFrom:
                secretKeyRef:
                  name: mongodb
                  key: MONGODB_AUTH
            - name: KEYCLOAK_OIDC_ISSUER
              valueFrom:
                secretKeyRef:
                  name: keycloak
                  key: KEYCLOAK_OIDC_ISSUER
            - name: ENHETSREGISTERET_PROXY_BASE_URL
              valueFrom:
                secretKeyRef:
                  name: commonurl
                  key: ENHETSREGISTERET_PROXY_BASE_URI
            - name: ORGANIZATION_CATALOG_HOST
              valueFrom:
                secretKeyRef:
                  name: commonurl
                  key: ORGANIZATION_CATALOG_BASE_URI
            - name: CORS_ORIGIN_PATTERNS
              valueFrom:
                secretKeyRef:
                  name: organization-catalog
                  key: CORS_ORIGIN_PATTERNS
          image: organization-catalog
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "750Mi"
              cpu: "10m"
            limits:
              memory: "750Mi"
          livenessProbe:
            httpGet:
              path: /ping
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 30
            successThreshold: 1
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /ready
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 30
            successThreshold: 1
            failureThreshold: 5
      restartPolicy: Always
